Repository stuartshay/terraform-azure-policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit, azure-policy-validation, terraform-policy-syntax, check-large-policy-files, check-test-file-naming

Path conditions:
  powershell-syntax-check: any of: \.ps1$
  powershell-whitespace-cleanup: any of: \.ps(1|d1)$
  powershell-script-analyzer: any of: \.ps1$
  pester-tests-unit: any of: (\.ps1|policies/.*/rule\.json)$
  azure-policy-validation: any of: policies/.*/rule\.json$
  terraform-policy-syntax: any of: terraform/.*\.tf$
  check-large-policy-files: any of: policies/.*/rule\.json$
  check-test-file-naming: any of: tests/.*\.ps1$

chore: update secrets baseline for Microsoft GPG key fingerprint
  .secrets.baseline
Due: none

fix(devcontainer): skip NuGet installation in CI mode
  .devcontainer/setup.sh
Due: none

feat(function-app): add policy to enforce public network access disabled
  config/policies.json
  docs/Azure-Policy-Private-Endpoint-Limitation.md
  docs/Function-App-Private-Endpoint-Policy-Summary.md
  policies/function-app/deny-function-app-no-private-endpoint/README.md
  policies/function-app/deny-function-app-no-private-endpoint/main.tf
  policies/function-app/deny-function-app-no-private-endpoint/outputs.tf
  policies/function-app/deny-function-app-no-private-endpoint/rule.json
  policies/function-app/deny-function-app-no-private-endpoint/variables.tf
  tests/function-app/FunctionApp.Integration-DenyFunctionAppNoPrivateEndpoint.Tests.ps1
  tests/function-app/FunctionApp.Unit-DenyFunctionAppNoPrivateEndpoint.Tests.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit, azure-policy-validation, check-large-policy-files, check-test-file-naming

test(function-app): add integration tests for AAD-only authentication policy
  docs/FunctionApp-AAD-Only-Integration-Test.md
  tests/function-app/FunctionApp.Integration-DenyFunctionAppAadOnly.Tests.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit, check-test-file-naming

feat: add Az.Functions and Az.Websites modules to requirements
  config/test-config.ps1
  requirements.psd1
  scripts/Invoke-PSScriptAnalyzer.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit

feat: update Function App policies to v2.0.0 with improved authentication checking
  config/policies.json
  config/test-config.ps1
  docs/FunctionApp-AAD-Only-Integration-Test.md
  policies/function-app/deny-function-app-anonymous/README.md
  policies/function-app/deny-function-app-anonymous/policy-params.json
  policies/function-app/deny-function-app-anonymous/policy-rule-only.json
  policies/function-app/deny-function-app-anonymous/rule.json
  policies/function-app/deny-function-app-anonymous/variables.tf
  policies/function-app/deny-function-app-no-private-endpoint/.terraform.lock.hcl
  scripts/Invoke-PSScriptAnalyzer.ps1
  tests/function-app/FunctionApp.Integration-DenyFunctionAppAadOnly.Tests.ps1
  tests/function-app/FunctionApp.Integration-DenyFunctionAppAnonymous.Tests.ps1
  tests/function-app/FunctionApp.Integration-DenyFunctionAppNoPrivateEndpoint.Tests.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit, azure-policy-validation, check-large-policy-files, check-test-file-naming

refactor: convert deny-function-app-anonymous to Deny policy
  policies/README.md
  policies/function-app/deny-function-app-anonymous/README.md
  policies/function-app/deny-function-app-anonymous/main.tf
  policies/function-app/deny-function-app-anonymous/policy-params.json
  policies/function-app/deny-function-app-anonymous/policy-rule-only.json
  policies/function-app/deny-function-app-anonymous/rule.json
  policies/function-app/deny-function-app-anonymous/variables.tf
  policies/main.tf
  policies/variables.tf
Due: pester-tests-unit, azure-policy-validation, check-large-policy-files

feat: add storage SAS token expiration policy with comprehensive tests
  config/policies.json
  policies/storage/deny-storage-sas-expiration/.terraform.lock.hcl
  policies/storage/deny-storage-sas-expiration/README.md
  policies/storage/deny-storage-sas-expiration/main.tf
  policies/storage/deny-storage-sas-expiration/outputs.tf
  policies/storage/deny-storage-sas-expiration/policy-params.json
  policies/storage/deny-storage-sas-expiration/policy-rule-only.json
  policies/storage/deny-storage-sas-expiration/rule.json
  policies/storage/deny-storage-sas-expiration/variables.tf
  tests/storage/Storage.Integration-DenyStorageSasExpiration.Tests.ps1
  tests/storage/Storage.Unit-DenyStorageSasExpiration.Tests.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit, azure-policy-validation, check-large-policy-files, check-test-file-naming

fix: improve integration test policy assignment detection
  tests/storage/Storage.Integration-DenyStorageSasExpiration.Tests.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit, check-test-file-naming

style: reformat policy JSON files with consistent indentation
  policies/storage/deny-storage-sas-expiration/policy-params.json
  policies/storage/deny-storage-sas-expiration/policy-rule-only.json
Due: none

Update policies/function-app/deny-function-app-anonymous/rule.json
  policies/function-app/deny-function-app-anonymous/rule.json
Due: pester-tests-unit, azure-policy-validation, check-large-policy-files

refactor: address Copilot PR review comments
  config/test-config.ps1
  scripts/Invoke-PSScriptAnalyzer.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit

test: add storage soft delete integration test and enhance function app test cleanup
  tests/function-app/FunctionApp.Integration-DenyFunctionAppAnonymous.Tests.ps1
  tests/function-app/FunctionApp.Integration-DenyFunctionAppHttpsOnly.Tests.ps1
  tests/function-app/FunctionApp.Integration-DenyFunctionAppNoPrivateEndpoint.Tests.ps1
  tests/storage/Storage.Integration-DenyStorageSoftDelete.Tests.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit, check-test-file-naming

Update tests/storage/Storage.Integration-DenyStorageSoftDelete.Tests.ps1
  tests/storage/Storage.Integration-DenyStorageSoftDelete.Tests.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit, check-test-file-naming

Update tests/function-app/FunctionApp.Integration-DenyFunctionAppHttpsOnly.Tests.ps1
  tests/function-app/FunctionApp.Integration-DenyFunctionAppHttpsOnly.Tests.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit, check-test-file-naming

Update tests/function-app/FunctionApp.Integration-DenyFunctionAppNoPrivateEndpoint.Tests.ps1
  tests/function-app/FunctionApp.Integration-DenyFunctionAppNoPrivateEndpoint.Tests.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit, check-test-file-naming

fix: simplify regex patterns to resolve terraform-docs markdown table issues
  .markdownlint.json
  .terraform-docs.yml
  policies/governance/enforce-naming-convention-func-app/README.md
  policies/governance/enforce-naming-convention-func-app/variables.tf
  policies/governance/enforce-naming-convention-storage/README.md
  policies/governance/enforce-naming-convention-storage/variables.tf
  tests/governance/Governance.Integration-EnforceAllowedLocations.Tests.ps1
  tests/governance/Governance.Integration-EnforceNamingConventionFuncApp.Tests.ps1
  tests/governance/Governance.Integration-EnforceNamingConventionStorage.Tests.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit, check-test-file-naming

fix: update terraform lock files to match azurerm >= 4.48.0 version constraint
  modules/azure-policy-initiative/.terraform.lock.hcl
  modules/azure-policy-initiative/README.md
  modules/azure-policy/.terraform.lock.hcl
  modules/azure-policy/README.md
  policies/.terraform.lock.hcl
Due: none

fix(governance): align naming convention default patterns across all files
  policies/governance/README.md
  policies/governance/enforce-naming-convention-func-app/README.md
  policies/governance/enforce-naming-convention-func-app/variables.tf
  policies/governance/enforce-naming-convention-storage/README.md
  policies/governance/enforce-naming-convention-storage/rule.json
  policies/governance/enforce-naming-convention-storage/variables.tf
  tests/governance/Governance.Integration-EnforceNamingConventionStorage.Tests.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit, azure-policy-validation, check-large-policy-files, check-test-file-naming

Update policies/governance/enforce-naming-convention-storage/README.md
  policies/governance/enforce-naming-convention-storage/README.md
Due: none

Update tests/governance/Governance.Integration-EnforceAllowedLocations.Tests.ps1
  tests/governance/Governance.Integration-EnforceAllowedLocations.Tests.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit, check-test-file-naming
