Repository stuartshay/terraform-azure-policy: changes, and which pre-commit hooks are due for each by the changed paths.
All: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit, azure-policy-validation, terraform-policy-syntax, check-large-policy-files, check-test-file-naming

powershell-syntax-check:
  name: PowerShell Syntax Check
  entry: bash
  args:
  - -c
  ...

powershell-whitespace-cleanup:
  name: PowerShell Whitespace Cleanup
  entry: pwsh
  args:
  - -Command
  ...

powershell-script-analyzer:
  name: PowerShell Script Analyzer
  entry: pwsh
  args:
  - -Command
  ...

pester-tests-unit:
  name: Run Pester Unit Tests
  entry: pwsh
  args:
  - -Command
  ...

azure-policy-validation:
  name: Azure Policy JSON Validation
  entry: bash
  args:
  - -c
  ...

terraform-policy-syntax:
  name: Terraform Policy Configuration Check
  entry: pwsh
  args:
  - -Command
  ...

check-large-policy-files:
  name: Check Policy File Size
  entry: bash
  args:
  - -c
  - large_files=$(find policies -name "*.json" -size +50k); if [ -n "$large_files" ]; then echo "Policy files too large (>50KB):"; echo "$large_files"; exit 1; else echo "✓ All policy files are within size limit"; fi
  language: system
  ...

check-test-file-naming:
  name: Check Test File Naming Convention
  entry: bash
  args:
  - -c
  - for file in tests/**/*.ps1; do if [[ $(basename "$file") != *".Tests.ps1" ]] && [[ $(basename "$file") != "PolicyTestConfig.ps1" ]]; then echo "Test file $file should end with .Tests.ps1"; exit 1; fi; done
  language: system
  ...

fix: PowerShell profile setup and JSON validation issues
  .devcontainer/POWERSHELL-PROFILE-FIX.md
  .devcontainer/POWERSHELL-PROFILE-SETUP.md
  .devcontainer/setup.sh
  .vscode/extensions.json
  .vscode/tasks.json
Due: none

Update docs/Codespaces-Terraform-Cloud-Auth.md
  docs/Codespaces-Terraform-Cloud-Auth.md
Due: none

Update PowerShell/Microsoft.PowerShell_profile.ps1
  PowerShell/Microsoft.PowerShell_profile.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit

Update .devcontainer/test-terraform-auth.sh
  .devcontainer/test-terraform-auth.sh
Due: none

fix: address PR review feedback for Codespaces configuration
  .pre-commit-config.yaml
  .vscode/settings.json
  PowerShell/Microsoft.PowerShell_profile.ps1
  docs/Codespaces-Terraform-Cloud-Auth.md
  scripts/Connect-AzureServicePrincipal.ps1
  scripts/Invoke-PSScriptAnalyzer.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit

fix: address PR review feedback for Codespaces configuration
  .vscode/TERMINAL-PROFILE-CONFIG.md
Due: none

Update scripts/Connect-AzureServicePrincipal.ps1
  scripts/Connect-AzureServicePrincipal.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit

fix: exclude PSProvideCommentHelp rule from PSScriptAnalyzer
  README.md
  docs/GitHub-Copilot-Environment-Validation.md
  scripts/Invoke-PSScriptAnalyzer.ps1
  scripts/README.md
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit

Update docs/GitHub-Copilot-Environment-Validation.md
  docs/GitHub-Copilot-Environment-Validation.md
Due: none

style: apply PowerShell formatting fixes
  docs/GitHub-Copilot-Environment-Validation.md
  scripts/Invoke-PSScriptAnalyzer.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit

Update
  .github/copilot-instructions.md
Due: none

Update Githhub Actions
  .github/workflows/ci.yml
  .github/workflows/devcontainer.yml
  .github/workflows/release.yml
  docs/GitHub-Copilot-Environment-Validation.md
Due: none

feat(policy): add Function App AAD-only authentication policy with Terraform deployment
  config/policies.json
  docs/GitHub-Actions-Setup-Guide.md
  docs/Issue-Resolution-Configure-Actions-Setup.md
  policies/function-app/deny-function-app-aad-only/FIELD-PATH-VALIDATION.md
  policies/function-app/deny-function-app-aad-only/main.tf
  policies/function-app/deny-function-app-aad-only/outputs.tf
  policies/function-app/deny-function-app-aad-only/providers.tf
  policies/function-app/deny-function-app-aad-only/rule.json
  policies/function-app/deny-function-app-aad-only/terraform.tfvars.example
  policies/function-app/deny-function-app-aad-only/variables.tf
  policies/function-app/deny-function-app-aad-only/version.tf
  scripts/Install-ModulesForCI.ps1
  tests/function-app/FunctionApp.Unit-DenyFunctionAppAadOnly.Tests.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit, azure-policy-validation, check-large-policy-files, check-test-file-naming

chore(terraform): add provider lock file and auto-generated README
  policies/function-app/deny-function-app-aad-only/.terraform.lock.hcl
  policies/function-app/deny-function-app-aad-only/README.md
Due: none

docs(chatmode): emphasize pre-commit usage throughout development lifecycle
  .github/chatmodes/Extensive Mode.chatmode.md
Due: none

feat(storage): implement policy bundle versioning system
  .github/workflows/storage-bundle-changes.yml
  .github/workflows/storage-bundle-release.yml
  docs/Initiative-Consumption-Guide.md
  docs/Storage-Bundle-Quick-Reference.md
  docs/Storage-Bundle-Versioning-Guide.md
  policies/storage/BUNDLE-README.md
  policies/storage/CHANGELOG.md
  policies/storage/bundle.metadata.json
  policies/storage/extract-package.ps1
  policies/storage/storage-policies.nuspec
  policies/storage/version.json
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit

docs: add comprehensive policy bundle versioning project plan
  docs/Policy-Bundle-Versioning-Project-Plan.md
Due: none

fix(ci): extract unit test logic to separate script
  .github/workflows/ci.yml
  scripts/Run-UnitTests.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit

refactor(ci): move test outputs to root folder
  .github/workflows/ci.yml
  .gitignore
  scripts/Run-UnitTests.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit

fix(ci): correct PowerShell array parameter syntax in workflow
  .github/workflows/ci.yml
Due: none

fix(ci): escape PowerShell variable with colon to prevent parsing error
  scripts/Install-ModulesForCI.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit

fix(ci): split comma-separated module names when passed from bash
  scripts/Install-ModulesForCI.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit

fix: remove strict mode from Run-UnitTests.ps1 to fix 35 test failures
  scripts/Run-UnitTests.ps1
Due: powershell-syntax-check, powershell-whitespace-cleanup, powershell-script-analyzer, pester-tests-unit

chore(storage): bump bundle version to 1.0.1
  policies/storage/CHANGELOG.md
  policies/storage/bundle.metadata.json
  policies/storage/storage-policies.nuspec
  policies/storage/version.json
Due: none

chore: add MYGET_API_KEY to secrets baseline
  .secrets.baseline
Due: none

chore: add MYGET_API_KEY to secrets baseline
  .env.template
Due: none

feat(infrastructure): add .NET 9.0 SDK and NuGet CLI support across all environments
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  docs/NuGet-Setup-Guide.md
  docs/Policy-Bundle-Versioning-Project-Plan.md
  scripts/Install-NuGet.sh
Due: none

Update docs/NuGet-Setup-Guide.md
  docs/NuGet-Setup-Guide.md
Due: none

Update scripts/Install-NuGet.sh
  scripts/Install-NuGet.sh
Due: none

fix: add pragma comment to suppress false positive secret detection in Install-NuGet.sh
  .secrets.baseline
  scripts/Install-NuGet.sh
Due: none

feat: add NuGet package publishing infrastructure
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  .secrets.baseline
  .vscode/extensions.json
  LICENSE
  docs/Publishing-Guide.md
  policies/storage/storage-policies.csproj
  policies/storage/storage-policies.nuspec
  scripts/Install-NuGet.sh
Due: none

chore(devcontainer): remove historical documentation files
  .devcontainer/BUILD-FIX.md
  .devcontainer/CHANGES.md
  .devcontainer/CHECKLIST.md
  .devcontainer/CI-BUILD-FIX.md
  .devcontainer/FIX-SUMMARY.md
  .devcontainer/OPTIMIZATION-GUIDE.md
  .devcontainer/OPTIMIZATION-SUMMARY.md
  .devcontainer/POWERSHELL-PROFILE-FIX.md
  .devcontainer/POWERSHELL-PROFILE-SETUP.md
Due: none

Update .devcontainer/setup.sh
  .devcontainer/setup.sh
Due: none

Path conditions:
  powershell-syntax-check: any of: \.ps1$
  powershell-whitespace-cleanup: any of: \.ps(1|d1)$
  powershell-script-analyzer: any of: \.ps1$
  pester-tests-unit: any of: (\.ps1|policies/.*/rule\.json)$
  azure-policy-validation: any of: policies/.*/rule\.json$
  terraform-policy-syntax: any of: terraform/.*\.tf$
  check-large-policy-files: any of: policies/.*/rule\.json$
  check-test-file-naming: any of: tests/.*\.ps1$
